@import url("https://fonts.googleapis.com/css2?family=ABeeZee&family=Short+Stack&display=swap");

h1{
  margin-top: 10px !important;
}

.tituloCampaña {
  font-family: "Short Stack", cursive;
  text-transform: uppercase;
  margin-top: 15px;
  text-align: center;
}

.subtituloCampaña {
  font-family: "Short Stack", cursive;
  margin-left: 15px;
}

.parrafoCampaña {
  text-align: justify;
}

.listaCampaña {
  list-style-type: circle;
}

.textoAgradecimiento{
    text-align: center;
}

.logo-cover2{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
  width: 100%;
}

@media only screen and (max-width: 500px) {
.content{
  padding-bottom: 50px;
  }
}