.carousel-inner{
    width: auto;
    height: 200px;
}

.carousel-inner > .carousel-item > img{
    height: 30vh;
}

.carousel-item{
    position: absolute;
}

.carousel-indicators{
    display: none !important;
}

.imgCarrusel{
    object-fit: contain;
    width: 50%;
    position: relative;
    margin: auto;
}


