.carousel-inner{
    width: auto;
    height: 200px;
}

.carousel-inner > .carousel-item > img{
    height: 30vh;
}

.carousel-item{
    position: absolute;
}

.imgCarrusel{
    object-fit: contain;
    width: 100%;
    height: auto;
    position: relative;
}