.cabecera{
    display: flex;
    flex-direction: row;
    justify-content: center; 
    margin-top: 2%;
    margin-right:4% ;
}
.titulo{
    font-weight: bold;
    text-align: center;
}

.sub{
    font-style: italic;
    text-align: center;
}

.col1 {
    display: flex;
    justify-content: center;
}
.col2{
    display: block !important;
}

.col3{
    display: initial;
}

.todosCancer{
    width: 50%;
    display:block;
    margin: auto;
}