/* ------ ELEMENTOS HTML------ */
 nav{
    background: linear-gradient(to right, white, #990099);
    font-family: "Dancing Script";
    text-align: center;
    font-size: 1.3rem;
} 

a{
    text-align: center;
}

b{
    color: black;
}


/* b:hover{
    A IMPLEMENTAR EN UN FUTURO
    background-color: yellow;
} */

/* ------ ID´S ------*/
#navbarScrollingDropdown{
    color:black;
    font-weight: bold;
}

/* ------ CLASES ------ */
.container-fluid{
    padding: 0px !important;
}

.navbar{
    padding:0px !important;
}

.navbar-brand{
    width: 12%;
    padding-bottom: 0px;
}

.logo{
    width: 40%;
}

@media only screen and (max-width: 991.20px) {
    /* ID´S */

    /* CLASES */
    .logo{
        width:100%;
    }

    .nav-link{
        border-bottom: 1px solid black;
    }
}
