.card {
   
  align-items: center;
  justify-content: center;
  width: auto !important;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content:flex-start;
  flex-wrap: wrap;
}

.container {
    max-width: 85% !important;
    
}

.card-img-top{
    height: 75%;
}

