.card {
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 20px;
  display: flex !important;
}

.card-body-oficina{
  overflow: auto;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content:flex-start;
  flex-wrap: wrap;
}

.container{
    text-align: center;
}

.card-img-top{
    height: 75%;
}

.img1, .img2, .img3, .img4{
  width: 40%;
  height: auto;
}

.card-flip{
  display: inline-block;
  padding-right: 40px;
}